#modal-window__btnAccept:disabled {
	position: absolute;
	top: 74px;
	left: 95px;
	margin: 0;
	width: 200px;
	height: 50px;
	background-color: #2196f3;
	opacity: 0.5;
	color: #fff;
	border: 1px solid #2196f3;
	border-radius: 4px;
	font-size: 16px;
	font-weight: 700;
	line-height: 30px;
	letter-spacing: 0.06em;
	text-align: center;
	cursor: not-allowed;
}

#modal-window__btnAccept {
	position: absolute;
	top: 74px;
	left: 95px;
	margin: 0;
	width: 200px;
	height: 50px;
	background-color: #2196f3;
	color: #fff;
	border: 1px solid #2196f3;
	border-radius: 4px;
	font-size: 16px;
	font-weight: 700;
	line-height: 30px;
	letter-spacing: 0.06em;
	text-align: center;
	cursor: pointer;
}

.modal-window {
	width: 450px;
	height: 609px;
	background: #ffffff;
	-webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.1411764706),
		0px 1px 3px 0px rgba(0, 0, 0, 0.1215686275);
	box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.1411764706),
		0px 1px 3px 0px rgba(0, 0, 0, 0.1215686275);
	position: sticky;
	z-index: 1;
	top: 93px;
	margin: auto;

	&__btnClose {
		background-color: #fff;
		color: #212121;
		width: 30px;
		height: 30px;
		border: 1px solid rgba(0, 0, 0, 0.1019607843);
		border-radius: 50%;
		margin: 0;
		top: 8px;
		left: 412px;
		position: absolute;
	}
	&__btnClose:hover,
	&__btnClose:focus {
		cursor: pointer;
	}
	&__btnClose:hover > svg,
	&__btnClose:focus > svg {
		fill: #2196f3;
	}

	&__iconClose {
		width: 11px;
		height: 11px;
		position: absolute;
		top: 8px;
		right: 8px;
	}
	&__forms {
		padding-left: 40px;
		padding-right: 40px;
		height: auto;
	}
	&__h3 {
		width: 370px;
		font-size: 20px;
		line-height: 30px;
		letter-spacing: 0.03em;
		text-align: center;
		color: #212121;
		font-weight: 700;
		padding-top: 40px;
		margin: 0;
	}
	&__form {
		width: 448px;
		padding-top: 10px;
		position: relative;
		border: 0px solid;
	}
	&_formLabel {
		margin-top: 10px;
		margin-bottom: 4px;
		font-size: 12px;
		line-height: 14px;
		letter-spacing: 0.01em;
		text-align: left;
		color: #757575;
	}
	&__formIcon {
		width: 370px;
		height: 40px;
		position: relative;
		border: 1px solid rgba(33, 33, 33, 0.2);
	}
	&__formIcon:hover,
	&__formIcon:focus {
		border: 1px solid #2196f3;
	}
	&__formIcon:hover > svg,
	&__formIcon:focus > svg {
		fill: #2196f3;
	}
	&__input {
		outline: none;
		border: none;
		width: 338px;
		padding-left: 30px;
		height: 35px;
		padding-top: 2px;
		left: 40px;
	}
	&__icon {
		fill: #212121;
		position: absolute;
	}
	&__icon--Person {
		top: 8px;
		left: 9px;
		width: 18px;
		height: 18px;
	}
	&__icon--Phone {
		top: 9px;
		left: 9px;
		width: 18px;
		height: 18px;
	}
	&__icon--Email {
		top: 10px;
		left: 9px;
		width: 21px;
		height: 18px;
	}
	&__comment {
		width: 368px;
		height: 105px;
		padding-top: 12px;
		padding-left: 16px;
		border: 1px solid rgba(33, 33, 33, 0.2);
	}
	&__comment:hover {
		border: 1px solid #2196f3;
	}
	&__comment:hover > &__commentText::-webkit-input-placeholder {
		color: #2196f3;
	}
	&__comment:hover > &__commentText::-moz-placeholder {
		color: #2196f3;
	}
	&__comment:hover > &__commentText:-ms-input-placeholder {
		color: #2196f3;
	}
	&__comment:hover > &__commentText::-ms-input-placeholder {
		color: #2196f3;
	}
	&__comment:hover > &__commentText::placeholder {
		color: #2196f3;
	}
	&__commentText {
		outline: none;
		width: 337px;
		height: auto;
		resize: none;
		border: none;
	}

	&__accept {
		position: relative;
		width: 420px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	&__regulations {
		position: absolute;
		top: 20px;
		left: 2px;
		z-index: 2;
		opacity: 0;
		display: block;
		margin: 0;
	}

	&__acceptLabel {
		display: block;
		width: 397px;
		position: absolute;
		top: 19px;
		left: 20px;
		margin: 0;
		font-size: 12px;
		line-height: 14px;
		letter-spacing: 0.03em;
		color: #757575;
		text-align: left;
	}
	&__acceptLabel > a {
		text-decoration: none;
		color: $mainBlueColor;
	}

	&__acceptLabel::before {
		content: '';
		display: block;
		position: absolute;
		left: -20px;
		z-index: 1;
		border: 1px solid black;
		width: 16px;
		height: 15px;
	}
}

input:hover + .modal-window__acceptLabel::before,
input:focus + .modal-window__acceptLabel::before {
	border-color: $mainBlueColor;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
input:hover,
input:focus {
	cursor: pointer;
}
input:checked + .modal-window__acceptLabel::before {
	background-image: url("https://rafal-chojnacki.github.io/goit-markup-hw-08/images/iconCheck.jpg");
	border: none;
}
