$brandColor: #2196f3;
$seconderyColor: #757575;
$backgroundColor: #2f303a;
$textColor: #212121;
$headerBorderColor: #ececec;
$logoSpanColor: #000000;
$whiteTxtBcgrColor: #fff;
$gridBorderColor: #eeeeee;
$dscrBcgrColor: #f5f4fa;
$svgColor: #afb1b8;
$overlayColor: rgba(33, 150, 243, 0.9);
$backdropBcgrColor: rgba(0, 0, 0, 0.2);

$mainFont: "Roboto", sans-serif;
$logoFont: "Raleway";
